<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074810279185-qhi5706qmbv2qn4dt184oe9i91isu2p5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074810279185-qhi5706qmbv2qn4dt184oe9i91isu2p5</string>
	<key>API_KEY</key>
	<string>AIzaSyCVoPZxcy9tDOAvFmLtGpIJGl7kwY-oK0w</string>
	<key>GCM_SENDER_ID</key>
	<string>1074810279185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.individual.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>individual-1a434</string>
	<key>STORAGE_BUCKET</key>
	<string>individual-1a434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074810279185:ios:67ecf80573a7099e3b68b0</string>
</dict>
</plist>